<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="sigespai-convocatorias-detalle">
    <template>
        <style include="bootstrap4-styles fontawesome-styles">
            :host {
                display: block;
            }

            .contenedor {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        </style>
        <iron-ajax auto url="[[url]]" handle-as="json" last-response="{{convocatoriaData}}">
        </iron-ajax>

        <div style="clear:both;"></div>
        <section>
            <div class="card border-info">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-calendar" aria-hidden="true"></span> Convocatoria
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Detalles</h5>
                    <p class="card-text">
                        <template is="dom-if" if="[[_hasConvocatoriaData(convocatoriaData)]]">
                            <div class="contenedor">
                                <div>
                                    <label for="lb_estatus" class="control-label" style="width:100%;">Estatus </label>
                                    <span id="lb_estatus" class="text-info" style="width:100%;">[[convocatoriaData.Estatus]]</span>
                                </div>
                                <div>
                                    <label for="lb_periodo" class="control-label" style="width:100%;">Periodo </label>
                                    <span id="lb_periodo" class="text-info" style="width:100%;">[[convocatoriaData.Periodo]]</span>
                                </div>
                                <div>
                                    <label for="lb_fecha_inicio" class="control-label" style="width:100%;">Fecha de inicio </label>
                                    <span id="lb_fecha_inicio" class="text-info" style="width:100%;">[[_getDateIsoFormat(convocatoriaData.Fecha_Inicio)]]</span>
                                </div>
                                <div>
                                    <label for="lb_fecha_fin" class="control-label" style="width:100%;">Fecha de fin </label>
                                    <span id="lb_fecha_fin" class="text-info" style="width:100%;">[[_getDateIsoFormat(convocatoriaData.Fecha_Fin)]]</span>
                                </div>
                            </div>
                            <br>
                            <div>
                                <label for="lb_descr" class="control-label" style="width:100%;">Descripción </label>
                                <p id="lb_descr" class="text-info text-justify" style="width:100%;">[[convocatoriaData.Descripcion]]</p>
                            </div>
                        </template>
                        <template is="dom-if" if="[[!_hasConvocatoriaData(convocatoriaData)]]">
                            <div class="text-center">
                                <span class="alert-info">No hay infomación disponible</span>
                            </div>
                        </template>
                    </p>
                </div>
            </div>
        </section>

    </template>

    <script>
        class SigespaiConvocatoriasDetalle extends Polymer.Element {
            static get is() { return 'sigespai-convocatorias-detalle'; }
            static get properties() {
                return {
                    idConvocatoria: {
                        type: Number,
                        value: 0
                    },
                    url: {
                        type: String,
                        computed: '_getURL(idConvocatoria)'
                    },
                    convocatoriaData: {
                        type: Object,
                        notify: true
                    }
                };
            }

            _getURL(idConvocatoria) {
                let url = App.Config.apppath + "/Convocatorias/DataConvocatoriaJSON?id=" + idConvocatoria;
                return url;
                // return 'https://intranet1.ugto.mx/Sigespai/Consultas/findDatosProfesorByNUE/' + nue;
            }
            _hasConvocatoriaData(convocatoria) {
                if (convocatoria) {
                    return true;
                }
                return false;
            }
            _getDateIsoFormat(fecha) {
                let d;
                // if (isTimestamp === true) {
                d = this._formatTimestampToDate(fecha);
                // }
                // else {
                //     d = new Date(fecha);
                // }
                let month = d.getMonth() + 1;
                return d.getFullYear() + "-" + ((month >= 10) ? month : "0" + month) + "-" + ((d.getDate() >= 10) ? d.getDate() : "0" + d.getDate());
            }
            _formatTimestampToDate(timestamp) {
                return new Date(parseInt(timestamp.substr(6)));
            }

        }

        window.customElements.define(SigespaiConvocatoriasDetalle.is, SigespaiConvocatoriasDetalle);
    </script>
</dom-module>